/* ==========================================================================
   Media Queries
   ========================================================================== */


   @media (max-width: 320px) {
  }
  
  @media (max-width: 360px) {
  }
  
  @media (max-width: 480px) {
   
  }

  @media (max-width: 640px) {
    
  }
  
  @media (max-width: 768px) {
  }
  
  @media (max-width: 860px) {
   .login_bg{
      background: #EBE8E8;
   }
   .banner{
     margin-top: 0;
   }
   .f_collect .card img {
        height: 130px;
    }
    .product_item .card img {
      height: 130px;
    }
    .nw_launch {
      height: auto;
    }
    .ln_image img {
      object-fit: contain;
    }
    .product_item .col-6{
      padding: 0 6px;
    }
    .page-title h5 {
      top: -14px;
      width: 250px;
      font-size: 20px;
    }
    .f-menu h6 {
      font-size: 17px;
    }
    .us_link li a {
      padding: 5px 5px 5px 0;
      font-size: 12px;
      line-height: 0;
    }
    .coll_login{
      padding-left:0 ;
    }
    .coll_login li a span{
      display: none;
    }
    .navbar-brand{
      padding: 0;
    }
    .navbar-brand img {
      object-fit: cover;
      width: 125px;
    }
    .coll_login li a {
        padding: 5px 10px;
        padding-left: 5px;
    }
    .coll_login li a svg {
      width: 18px;
      margin-right: 0px;
      position: relative;
      left: 0;
      top: 0;
  }
    .coll_login li:last-child a svg {
      top: 0
    }
    .coll_login li:first-child a svg {
      top: 0
    }
    .navbar-dark .navbar-toggler {
      color: #000;
      border-color: rgba(255,255,255,.1);
      padding-left: 0;
    }
    .navbar-toggler:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: none !important;

    }
    .navbar-collapse {
      position: fixed;
      width: 85%;
      background: #082c3e;
      padding: 15px;
      top: 60px;
      z-index: 9999;
      height: 100vh;
    }
    .modal-backdrop{
      top: 59px;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
      border-bottom: 1px solid #153b4e;
      font-size: 14px;
      padding: 10px;
    }
    .navbar-dark .navbar-nav .nav-item:last-child .nav-link{
      border-bottom: 0;
    }
    .header {
      padding: 10px 0;
    }
    .fixed {
      padding: 8px 15px;
    }
    .order_count{
      display: block !important;
      top: 0;
      right: -5px;
    }
    .coll_login li:first-child{
      display: none;
    }
    .coll_login li:nth-child(2) a{
      display: none;
    }
    .resp_search a{
      display: block;
    }
    .resp_hide{
      display: none;
    }
    .coll_login li:nth-child(4) a svg{
      top: 0;
    }
    /* .offcanvas {
      max-width: 78%;
    }
    .navbar-collapse{
      top: 0;
      padding: 20px 0;
    }
    
    .modal-backdrop {
      top: 59px;
    } */
    .product_item .card h6 {
      font-size: 14px;
      font-weight: 600;
    }
    .nl_text h6 {
      font-size: 16px;
    }
    .navbar .megamenu{
      padding: 1rem;
      height: 280px;
      overflow-y: auto;
    }
    .has-megamenu .dropdown-toggle::after {
      border-top: 5px solid #ffffff;
      position: absolute;
      right: 12px;
      top: 20px;
    }
    .filter_resp{
      display: block;
      margin-bottom: 20px;
    }
    .left_navpro{
      display: none;
    }
    .right_part{
      border-left: 0 !important;
    }
  }

  @media (max-width: 1366px) {
   .r_img{
      width: 300px;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 38px;
    }
   .p-6 {
      padding: 42px 95px;
   }
   .wiz li:before {
      margin-left: -4em;
    }
    .inner_banner:after{
      height: 455px;
    }
    .inner_banner{
      height: 455px;
    }
    .resp_hide{
      width: 43% !important;
    }
  }